## [mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [3]:
import pandas as pd

In [4]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [6]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__


- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12✓

In [84]:
data_year_1992 = data[data['Year'] == 1992]
data_year_1992.groupby(['Sex']).min()['Age']

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too. 

- 0.2
- 1.5 
- 2.5✓
- 7.7

In [101]:
data_2012_m = data[(data['Year'] == 2012) & (data['Sex'] == 'M')].drop_duplicates('ID')
data_m_basketball = data_2012_m[data_2012_m['Sport'] == 'Basketball']
ratio = data_m_basketball['ID'].count() / data_2012_m['ID'].count() * 100
round(ratio, 1)

2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

- 171.8 and 6.5✓ (6.6 - погрешность?)
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [86]:
data_2000_tennis_f = data[(data['Year'] == 2000) & (data['Sport'] == 'Tennis') & (data['Sex'] == 'F')].drop_duplicates('ID')
mean = data_2000_tennis_f['Height'].mean()
std = data_2000_tennis_f['Height'].std()
print(round(mean, 1))
print(round(std, 1))

171.8
6.6

__4. Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?__


- Judo
- Bobsleigh 
- Skeleton✓
- Boxing

In [92]:
data_2006 = data[data['Year'] == 2006].drop_duplicates('ID')
heaviest_athlete = data_2006[data_2006['Weight'] == data_2006['Weight'].max()]
print(heaviest_athlete['Sport'])

8102    Skeleton
Name: Sport, dtype: object

__5. How many times did John Aalberg participate in the Olympics held in different years?__


- 0
- 1 
- 2✓
- 3

In [103]:
John_years = data[data['Name'] == 'John Aalberg'].drop_duplicates('Year')
print(John_years['Year'].count())

2

__6. How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?__


- 0
- 1 
- 2✓
- 3

In [106]:
team_medals = data[(data['Year'] == 2008) & (data['Team'] == 'Switzerland') & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Gold')]
print(team_medals['Medal'].count())

2

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 


- Yes✓
- No

In [22]:
data_2016 = data[data['Year'] == 2016]
medals_Italy = data_2016[data_2016['Team'] == 'Italy'].loc[:, 'Team':'Medal'].drop_duplicates()
medals_Spain = data_2016[data_2016['Team'] == 'Spain'].loc[:, 'Team':'Medal'].drop_duplicates()
count_Italy = medals_Italy['Medal'].count()
count_Spain = medals_Spain['Medal'].count()
print(count_Spain < count_Italy)

True

__8. What are the most and least common age groups among the participants of the 2008 Olympics?__


- [45-55] and [25-35) correspondingly✓ (наоборот)
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [23]:
data_2008 = data[data['Year'] == 2008]
age_15_25 = data_2008[(data_2008['Age'] >= 15) & (data_2008['Age'] < 25)].drop_duplicates('ID')
age_25_35 = data_2008[(data_2008['Age'] >= 25) & (data_2008['Age'] < 35)].drop_duplicates('ID')
age_35_45 = data_2008[(data_2008['Age'] >= 35) & (data_2008['Age'] < 45)].drop_duplicates('ID')
age_45_55 = data_2008[(data_2008['Age'] >= 45) & (data_2008['Age'] <= 55)].drop_duplicates('ID')
print("[15-25):", age_15_25['ID'].count())
print("[25-35):", age_25_35['ID'].count())
print("[35-45):", age_35_45['ID'].count())
print("[45-55]:", age_45_55['ID'].count())

[15-25): 4786
[25-35): 5382
[35-45): 630
[45-55]: 78

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__


- Yes, Yes✓
- Yes, No
- No, Yes 
- No, No

In [24]:
data_Atlanta = data[(data['City'] == 'Atlanta') & (data['Season'] == 'Summer')]
data_Squaw_Valley = data[(data['City'] == 'Squaw Valley') & (data['Season'] == 'Winter')]
print(not data_Atlanta.empty)
print(not data_Squaw_Valley.empty)

True
True

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__


- 3 
- 10
- 15✓
- 27

In [25]:
sports_1986 = data[data['Year'] == 1986]['Sport'].drop_duplicates()
sports_2002 = data[data['Year'] == 2002]['Sport'].drop_duplicates()
abs_diff = abs(sports_1986.count() - sports_2002.count())
print(abs_diff)

15

That's it! Now go and do 30 push-ups! :)